button {
  font-size: 2em;
  padding: 2% 3%;
  margin: 2%;
  background-color: #4287f5;
  color: white;

  &:hover {
    background-color: #5496ff;
  }

  &:active {
    transform: scale(0.95);
  }
}

input[type="radio"] {
  background-color: #4287f5;
  padding: 1%;
  margin: 1%;
}

label {
  display: block;
}
